body.light-mode {
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  color: #333;
  nav {
    background: transparent;
  }
  .nav-scroll {
    overflow-y: auto;
    scrollbar-color: linear-gradient(to bottom,#cfd9df,#e2ebf0 100%);
    scrollbar-width: 10px;
    overflow-x: hidden;
    margin-top: 1em;
  }
  .nav-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .nav-scroll::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear,left top,left bottom,from(#cfd9df),to(#e2ebf0 100%));
    background: linear-gradient(to bottom,#cfd9df,#e2ebf0 100%);
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px #cfd9df,inset -2px -2px 2px #e2ebf0 100%;
    box-shadow: inset 2px 2px 2px #cfd9df,inset -2px -2px 2px #e2ebf0 100%;
  }
  .nav-scroll::-webkit-scrollbar-track {
    background: linear-gradient(to right,#cfd9df,#cfd9df 1px,#e2ebf0 1px,#e2ebf0 100%);
    border-bottom: 10px;
    border-top: 10px;
  }
  
  html {
    scrollbar-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    scrollbar-width: 10px;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#cfd9df 0%),
      to(#e2ebf0 100%7)
    );
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px #cfd9df 0%,
      inset -2px -2px 2px #e2ebf0 100%;
    box-shadow: inset 2px 2px 2px #cfd9df 0%,
      inset -2px -2px 2px #e2ebf0 100%;
  }
  
  html::-webkit-scrollbar-track {
    background: linear-gradient(
      to right,
      #cfd9df,
      #cfd9df 1px,
      #e2ebf0 1px,
      #e2ebf0
    );
  }
  
  pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  pre::-webkit-scrollbar-thumb {
    background: #afb9be;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #e2ebf0,
      inset -2px -2px 2px #e2ebf0 100%;
  }
  
  pre::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #e2ebf0, #e2ebf0 1px, #e2ebf0 0, #e2ebf0 100%);
  }
  .modali-body {
    background: linear-gradient(90deg, #e2ebf0, #e2ebf0 1px, #e2ebf0 0, #e2ebf0 100%);
    border: solid 1px;
    border-color: #e2ebf0;
    border-radius: 4px !important;
  }
  .modali-content {
    background: linear-gradient(90deg, #e2ebf0, #e2ebf0 1px, #e2ebf0 0, #e2ebf0 100%);
  }
  .modali-close-button {
    background: linear-gradient(
      180deg,
      rgba(0, 194, 178, 0.7),
      rgba(63, 142, 179, 0.2)
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 194, 178, 0.7)),
      to(rgba(63, 142, 179, 0.2))
    );
    background-color: rgba(0, 194, 178, 0.7);
    border-radius: 50px;
    padding: 1rem;
    margin: -3rem -1rem -3rem auto;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.5;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: 0;
    top: 20px;
  }
  a,
  .a {
    color: #00a396;
  }
  .menu-item {
    background: transparent;
    color: #30363d;
  }
  .my-masonry-grid_column > div {
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    border: 1px solid rgba(0, 194, 178, 0.2);
  }
  .caption {
    background: radial-gradient(
      circle farthest-side,
      #c4c5c7 52%,
      #ebebeb 100%
    );
    border: 1px solid #ebebeb 100%;
  }
  .box {
    background: radial-gradient(
      circle farthest-side,
      #c4c5c7 52%,
      #ebebeb 100%
    );
    border: 1px solid #ebebeb 100%;
    border-radius: 8px;
  }
  .nav-background {    
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #292727;
  }
  .nav-link {
    color: #292727;
  }
  .sub-nav {    
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #292727;
  }
  .trails-span {
    color: rgba(0, 194, 178, 0.7);
  }
  code {
    background: transparent;
  }
  .link-icon.before {
    color: #00c2b2;
  }
  .footer-background {
    background: radial-gradient(
      circle farthest-side,
      rgba(233, 237, 240, 0.7),
      rgba(0, 194, 178, 0.2)
    );
  }
  .gatsby-code-title {
    background: #00c2b2;
    color: #1d1d1d;
  }
  h1,
  .h1 {
    background: radial-gradient(
        circle farthest-corner at center center,
        #00a396,
        #00c2b2
      )
      no-repeat;
    background-clip: test;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content blockquote {
    border-left: 5px solid rgba(0, 194, 178, 0.2);
    border-top: 1px solid rgba(0, 194, 178, 0.2);
    border-right: 1px solid rgba(0, 194, 178, 0.2);
    border-bottom: 1px solid rgba(0, 194, 178, 0.2);
    border-radius: 8px;
    background: radial-gradient(
      circle at top right,
      rgba(0, 194, 178, 0.2),
      rgba(0, 0, 0, 0)
    );
    color: #343434;
  }
  .message {
    background: radial-gradient(
      circle at top right,
      rgba(0, 194, 178, 0.2),
      rgba(0, 0, 0, 0)
    );
    border-radius: 8px;
    font-size: 1rem;
    border-left: 5px solid rgba(0, 194, 178, 0.2);
  }

  .message-body {
    border-radius: 8px;
    padding: 1.25em 1.5em;
  }
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#00a396),
      to(#00c2b2)
    );
    background: linear-gradient(90deg, #00a396, #00c2b2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 600;
    line-height: 1.3;
  }
  strong {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#00a396),
      to(#00c2b2)
    );
    background: linear-gradient(90deg, #00a396, #00c2b2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .sticky-style {
    height: 90vh;
    position: sticky;
    position: webkit-sticky;
    top: 3.2rem;
  }
  .a,
  .link-read-more,
  .read-more,
  .todo-create-input {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#00a396),
      to(#00c2b2)
    );
    background: linear-gradient(90deg, #00a396, #00c2b2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 700;
    padding-bottom: 0.15rem;
    text-decoration: none;
  }
  .input:focus,
  .textarea:focus,
  .todo-create-input:focus {
    color: #000;
    outline: 0;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0, 163, 150, 0.2);
  }
  .is-primary {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#00a396),
      to(#00c2b2)
    );
    background: linear-gradient(90deg, #00a396, #00c2b2);
    color: #dbdbdb;
  }
  .tag:not(body).is-primary {
    background-color: #00a396;
    color: #e7e9ee;
  }
  .user-icon {
    color: #1d1d1d;
  }
  .button,
  .todo-create-button {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 163, 150, 0.5)),
      to(rgba(0, 194, 178, 0.2))
    );
    background: linear-gradient(
      180deg,
      rgba(0, 163, 150, 0.2),
      rgba(0, 194, 178, 0.2)
    );
    background-color: #00a396;
    color: #ffffff;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
  }
  .button:focus,
  .todo-create-button:focus {
    background: #00c2b2;
    color: #dbdbdb;
  }
  .modali-close-button {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 163, 150, 0.5)),
      to(rgba(0, 194, 178, 0.2))
    );
    background: linear-gradient(
      180deg,
      rgba(0, 163, 150, 0.2),
      rgba(0, 194, 178, 0.2)
    );
    background-color: #00a396;
    border-radius: 50px;
    padding: 1rem;
    margin: -3rem -1rem -3rem auto;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.5;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: 0;
    top: 20px;
  }
  .input,
  .textarea {
    background: radial-gradient(
      circle at top right,
      rgba(0, 194, 178, 0.2),
      rgba(0, 0, 0, 0)
    );
    border-left: 3px solid rgba(0, 194, 178, 0.2);
    border-top: 1px thin rgba(0, 194, 178, 0.2);
    border-right: 1px thin rgba(0, 194, 178, 0.2);
    border-bottom: 1px thin rgba(0, 194, 178, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    font-family: Kaushan Script, cursive;
  }
  hr,
  hr.thick {
    border: 0;
    height: 5px;
    margin: 2rem 0;
    background: linear-gradient(
      180deg,
      rgba(0, 163, 150, 0.2),
      rgba(0, 194, 178, 0.2)
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 163, 150, 0.5)),
      to(rgba(0, 194, 178, 0.2))
    );
    background-color: transparent;
    border-radius: 5px;
  }
  .navbar-divider {
    border: 0;
    height: 2px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 163, 150, 0.5)),
      to(rgba(0, 194, 178, 0.2))
    );
    background: linear-gradient(
      180deg,
      rgba(0, 163, 150, 0.2),
      rgba(0, 194, 178, 0.2)
    );
    text-align: center;
    border-radius: 2px;
    max-width: 100%;
  }
  .subtitle {
    color: #4a4a4a;
  }
  .card {
    color: #343434;
  }
  .github-icon {
    width: 32px;
    fill: #000000;
  }
  [data-reach-dialog-content] {
    /* width: 90vw; */ /* disabled for mobile */
    margin: 10vh auto;
    background-image: url(/img/bg10W-min.png);
    background-repeat: repeat;
    color: #171717;
    padding: 2rem;
    outline: none;
  }
  .RNIW_btnClose {
    background: #00a396;
    color: #dbdbdb;
  }
  .RNIW_btnClose:hover,
  .RNIW_btnClose:focus {
    background: rgba(0, 163, 150, 0.2);
    color: #fff;
  }
  .RNIW_btnHeader {
    background: rgba(0, 163, 150, 0.2);
    color: #000;
    border-bottom: 2px solid rgba(0, 163, 150, 0.2);
  }
  .RNIW_btnHeader:focus,
  [aria-selected="true"].RNIW_btnHeader {
    background: rgba(0, 163, 150, 0.2);
    border-color: rgb(14, 30, 37);
    font-weight: 700;
  }
  .RNIW_btnHeader:not(:only-child):hover {
    background-color: #00a396;
  }
  .RNIW_btnLink {
    color: #dedede;
    border-bottom: 2px solid rgb(14, 30, 37);
  }
  .RNIW_formControl {
    border-left: 3px solid #028f83;
    border-right: 1px solid #028f83;
    border-top: 1px solid #028f83;
    border-bottom: 1px solid #028f83;
    border-radius: 3px;
    background: radial-gradient(
      circle at top right,
      rgba(0, 194, 178, 0.2),
      rgba(0, 0, 0, 0)
    );
    box-shadow: 0 0 0 2px rgba(0, 163, 150, 0.2);
    color: #fff;
  }
  .RNIW_hr::before {
    background-color: #028f83;
    color: #343434;
  }
}

body.dark-mode {
  background-image: url(/img/bg10-min.png);
  background-repeat: repeat;
  color: #dbdbdb;
  .title {
    color: #dbdbdb;
  }
  .menu-item {
    background: transparent;
    color: whitesmoke;
  }
  .nav-scroll {
    overflow-y: auto;
    scrollbar-color: linear-gradient(to bottom,#201c29,#100e17);
    scrollbar-width: 10px;
    overflow-x: hidden;
    margin-top: 1em;
  }
  .nav-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .nav-scroll::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear,left top,left bottom,from(#201c29),to(#100e17));
    background: linear-gradient(to bottom,#201c29,#100e17);
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25);
    box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25);
  }
  .nav-scroll::-webkit-scrollbar-track {
    background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
    border-bottom: 10px;
    border-top: 10px;
  }
  h1,
  .h1 {
    background: radial-gradient(
        circle farthest-corner at center center,
        #8e0436,
        #d64000
      )
      no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  code {
    background: transparent;
  }
  .dark-mode-toggle > button {
    color: #ffe600;
    &:last-child {
      color: #95d3ff;
    }
  }
}
body.dark-mode .card {
  color: #cccccc;
}

body.dark-mode .trails-span {
  color: #d64000;
}
body.dark-mode .my-masonry-grid_column > div {
  background: #0f0f0f;
  border: 1px solid #434040;
}
body.dark-mode .caption {
  background: radial-gradient(
    circle farthest-side,
    transparent,
    rgba(15, 14, 14, 0.8)
  );
  border: 1px solid #434040;
}
body.dark-mode .link-icon.before {
  color: #d64000;
}
.gatsby-code-title {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
  color: #f5f5f5;
}
body.dark-mode .a,
.link-read-more,
.read-more {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: 700;
  padding-bottom: 0.15rem;
  text-decoration: none;
}
body.dark-mode .is-primary {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
  color: #dbdbdb;
}
body.dark-mode .user-icon {
  color: #f5f5f5;
}
body.dark-mode .box {
  background: radial-gradient(
    circle farthest-side,
    #000000b0,
    rgba(29, 29, 29, 0.7)
  );
  color: #cccccc;
  border: 1px solid #434040;
  border-radius: 8px;
}
body.dark-mode .subtitle {
  color: #cccccc;
}
body.dark-mode .label {
  color: #cccccc;
  float: left;
}
body.dark-mode .is-primary {
  color: #ffffff;
}
body.dark-mode .footer-background {
  background: radial-gradient(
    circle farthest-side,
    transparent,
    rgba(15, 14, 14, 0.8)
  );
}
body.dark-mode .nav-background {
  background: radial-gradient(
    circle farthest-side,
    #000000b0,
    rgba(15, 14, 14, 0.8)
  );
  color: #f5f5f5;
}
body.dark-mode .nav-link {
  color: #f5f5f5;
}
body.dark-mode .sub-nav {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  color: #f5f5f5;
}
body.dark-mode .button,
.todo-create-button {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#da1b60)
  );
  background: linear-gradient(90deg, #d64000, #da1b60);
  background-color: #d64000;
  border-color: transparent;
  color: #dbdbdb;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
}
body.dark-mode .button:hover {
  border-color: #c93c00;
  color: #cccccc;
}
body.dark-mode .button:focus {
  outline: none;
}
body.dark-mode .button-form {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
}
body.dark-mode input::placeholder {
  color: #dbdbdb;
}
body.dark-mode .input,
.textarea,
.todo-create-input {
  background: radial-gradient(circle at top right, #171717, rgba(0, 0, 0, 0));
  border-left: 3px solid #812102;
  border-right: 1px solid #434040;
  border-bottom: 1px solid #434040;
  border-top: 1px solid #434040;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  color: #fff;
}
body.dark-mode .input:focus,
.textarea:focus,
.todo-create-input:focus {
  outline: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(218, 27, 0, 0.2);
  color: #fff;
}
body.dark-mode .content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: 600;
  line-height: 1.3;
}
body.dark-mode .content blockquote {
  background: radial-gradient(circle at top right, #171717, rgba(0, 0, 0, 0));
  color: #ffffff;
  border-radius: 8px;
  border-top: 1px solid #181818;
  border-left: 5px solid #812102;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
body.dark-mode .message-body {
  border-radius: 8px;
  color: whitesmoke;
  padding: 1.25em 1.5em;
}
body.dark-mode .message {
  background: radial-gradient(circle at top right, #171717, rgba(0, 0, 0, 0));
  border-radius: 8px;
  font-size: 1rem;
  border-left: 5px solid #812102;
}
body.dark-mode .modali-body {
  background: radial-gradient(
    circle farthest-side,
    transparent,
    rgba(15, 14, 14, 0.8)
  );
  border: solid 1px;
  border-color: #1d1d1d;
  border-radius: 4px !important;
}
body.dark-mode .modali-content {
  background-color: #1d1d1d;
}
body.dark-mode .modali-close-button {
  background: linear-gradient(
    180deg,
    rgba(214, 62, 0, 0.2),
    rgba(218, 27, 0, 0.2)
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(214, 62, 0, 0.2)),
    to(rgba(218, 62, 0, 0.2))
  );
  background-color: #d64000;
  border-radius: 50px;
  padding: 1rem;
  margin: -3rem -1rem -3rem auto;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 0.5;
  color: #000;
  cursor: pointer;
  border: none;
  outline: 0;
  top: 20px;
}
body.dark-mode hr,
hr.thick {
  border: 0;
  height: 5px;
  margin: 2rem 0;
  background: linear-gradient(
    180deg,
    rgba(214, 62, 0, 0.2),
    rgba(218, 27, 0, 0.2)
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(214, 62, 0, 0.5)),
    to(rgba(218, 62, 0, 0.2))
  );
  background-color: transparent;
  border-radius: 5px;
}
body.dark-mode .navbar-divider {
  height: 3px;
  border-radius: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(214, 62, 0, 0.2)),
    to(rgba(218, 62, 0, 0.2))
  );
  background: linear-gradient(
    180deg,
    rgba(214, 62, 0, 0.2),
    rgba(218, 27, 0, 0.2)
  );
  background-color: transparent;
  text-align: center;
  max-width: 100%;
}
body.dark-mode a {
  color: #d64000;
}
body.dark-mode .a:hover {
  color: #812102;
}
body.dark-mode .subtitle {
  color: #dbdbdb;
}
body.dark-mode strong {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d64000),
    to(#8e0436)
  );
  background: linear-gradient(90deg, #d64000, #8e0436);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
body.dark-mode .tag:not(body).is-primary {
  background-color: #d64000;
  color: #fff;
}
body.dark-mode [data-reach-dialog-content] {
  background-image: url(/img/bg10-min.png);
  background-repeat: repeat;
  color: #fff;
}
body.dark-mode .RNIW_btnClose {
  background: #d64000;
  color: #dbdbdb;
}
body.dark-mode .RNIW_btnClose:hover,
.RNIW_btnClose:focus {
  background: #1d1d1d;
  color: #fff;
}
body.dark-mode .RNIW_btnHeader {
  background: #1d1d1d;
  color: #a3a9ac;
}
body.dark-mode .RNIW_btnHeader:focus,
[aria-selected="true"].RNIW_btnHeader {
  background: #2d3b41;
  color: #e9ebeb;
  border-color: rgb(14, 30, 37);
  border-bottom: 2px solid #e9ebeb;
}

body.dark-mode .RNIW_btnHeader:not(:only-child):hover {
  background-color: #343434;
}
body.dark-mode .RNIW_btnLink {
  color: #e9ebeb;
  border-bottom: 2px solid #000;
}
body.dark-mode .github-icon {
  width: 32px;
  fill: #ffffff;
}
body.dark-mode .RNIW_formControl {
  background: radial-gradient(circle at top right, #171717, rgba(0, 0, 0, 0));
  border-left: 3px solid #812102;
  border-right: 1px solid #434040;
  border-bottom: 1px solid #434040;
  border-top: 1px solid #434040;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  color: #fff;
}
body.dark-mode .RNIW_hr::before {
  background-color: #171717;
  color: #fff;
}