canvas {
  display: block;
}
html {
  scrollbar-color: linear-gradient(to bottom, #201c29, #100e17);
  scrollbar-width: 10px;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#201c29),
    to(#100e17)
  );
  background: linear-gradient(to bottom, #201c29, #100e17);
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px,
    #100e17 1px,
    #100e17
  );
}

pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

pre::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #8e0b30 inset !important;
 box-shadow: 0 0 0 30px #8e0b30 inset !important;
}
input:-webkit-autofill
{
 -webkit-text-fill-color: #fe7299 !important;
}

.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.accordion-icon:rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: auto;
  transition: max-height 0.6s ease;
}

.accordion-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.success {
  padding: 1em;
  border-radius: 3px;
  background-color: #0d544e;
  color: #00c7b6;
}
.area-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: white;
}
input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #3b7677;
  transition: background-position 0.2s ease;
  cursor: pointer;
}
.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}
@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.app-logo {
  height: 95px;
  margin-right: 20px;
}
.app-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-title-text {
  flex-grow: 1;
  font-size: 28px;
  background: radial-gradient(
      circle farthest-corner at center center,
      #8e0436,
      #d64000
    )
    no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-header {
  background-color: #272822;
  height: 135px;
  padding: 20px;
  color: white;
  /* padding-left: 60px; */
}
.app-left-nav {
  display: flex;
}
.app-title {
  /* font-size: 32px; */
  line-height: 2rem;
  margin: 0px;
  margin-top: 10px;
}
.app-intro {
  font-size: large;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
}
.gatsby-resp-image-figcaption {
  text-align: center;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1em; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1em; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 1em;
  border-radius: 4px;
}

.my-masonry-img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  :hover {
    transition: 0.3s;
    transform: scale(1.05);
  }
}

.toggle-control {
  position: relative;
  padding: 0px;
  display: flex;
  align-items: center;
}
.link-icon.before {
  position: absolute;
  top: 0;
  left: -1.4em;
  padding-right: 4px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: opacity 250ms ease 0s;
}
.icon-arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.trails-text > span {
  overflow: hidden;
}
.trails-span {
  overflow: hidden;
  cursor: pointer;
}
.trails-text {
  background-color: transparent;
  border: none;
}
.arrow {
  background-color: transparent;
  padding: -0.2em;
  margin-right: -0.6em;
  border: none;
}
.dark-mode-toggle {
  display: flex;
  grid-area: toggle;
  margin: 0 auto;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}
input[type="checkbox"].dmcheck {
  width: 0px;
  height: 0px;
  margin: 0 !important;
  background: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 5px;
  }

  &:focus-visible {
    outline: none;
  }

  & + label {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: transparent;
    opacity: 0.9;
  }
}

.gradient-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #d64000, #da1b60);
    opacity: 0.75;
  }

  img {
    filter: grayscale(1);
  }
}
.deploy-button-wrapper {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deploy-button {
  width: 200px;
}
.view-src {
  margin-top: 15px;
  text-align: center;
}
.view-src img {
  margin-right: 10px;
}
.view-src a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list li a {
  text-decoration: none;
}
/* Mobile view */
@media (max-width: 768px) {
  .app-title-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-title {
    font-size: 23px;
    margin-top: 0px;
  }
  .app-intro {
    font-size: 14px;
  }
  .app-header {
    padding-left: 20px;
    height: auto;
  }
  .app-logo {
    height: 60px;
    margin-right: 20px;
    animation: none;
  }
  .deploy-button-wrapper {
    margin-left: 80px;
    margin-top: 5px;
  }
  .deploy-button {
    width: 150px;
  }
  .view-src {
    display: none;
  }
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-list {
  height: 400px;
  display: flex;
  flex-flow: column wrap;
}

div#disqus_thread {
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.focus {
  cursor: pointer;
  padding-bottom: 15px;
}

.focus:focus-within a {
  outline: none;
}

.user-icon {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  top: calc(1.3vh + 1em);
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 40vh;
  width: 100%;
}

.author-avatar {
  float: left;
  margin-right: 1.2em;
  shape-outside: circle(50%);
}

.UserAvatar {
  height: 1.2em !important;
  width: 1.2em !important;
  border-radius: 50% !important;
  top: calc(1.3vh + 1em);
}

.UserAvatar--img {
  height: 1.2em !important;
  width: 1.2em !important;
  border-radius: 50% !important;
  top: calc(1.3vh + 1em);
}

.UserAvatar--inner {
  height: 1.2em !important;
  width: 1.2em !important;
  border-radius: 50% !important;
  top: calc(1.3vh + 1em);
}

.card-blog {
  border-radius: 8px;
  max-width: 100;
  position: relative;
}

.card {
  border-radius: 8px;
  max-width: 100%;
  min-height: 350px;
  position: relative;
}

.card1 {
  background-image: webkit-gradient(
      180px at top right,
      #685e31,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(180px at top left, #0d92c3, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #8a43bd, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #1d8d42, rgba(0, 0, 0, 0));
  background: radial-gradient(180px at top right, #685e31, rgba(0, 0, 0, 0)),
    radial-gradient(180px at top left, #0d92c3, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #8a43bd, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #1d8d42, rgba(0, 0, 0, 0));
}

.card2 {
  background-image: webkit-gradient(
      180px at top right,
      #685e31,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(180px at top left, #685e31, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #1d8d42, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #1d8d42, rgba(0, 0, 0, 0));
  background: radial-gradient(180px at top right, #685e31, rgba(0, 0, 0, 0)),
    radial-gradient(180px at top left, #685e31, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #1d8d42, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #1d8d42, rgba(0, 0, 0, 0));
}

.card3 {
  background-image: webkit-gradient(
      180px at top left,
      #685e31,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(180px at top right, #0d92c3, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #8a43bd, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #1d8d42, rgba(0, 0, 0, 0));
  background: radial-gradient(180px at top left, #685e31, rgba(0, 0, 0, 0)),
    radial-gradient(180px at top right, #0d92c3, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom right, #8a43bd, rgba(0, 0, 0, 0)),
    radial-gradient(180px at bottom left, #1d8d42, rgba(0, 0, 0, 0));
}

.button .icon {
  height: 2em;
  width: 2em;
}

.button:active {
  border-color: transparent;
}

.button-transparent {
  background-color: transparent;
  border-color: transparent;
  font-size: 1em;
  left: 0px;
}

.btn-danger {
  background: red;
  color: #ffffff;
  border-radius: 3px;
}

.message-body {
  padding: 1.25em 1.5em;
}

.message-body code {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

section {
  clear: both;
}

.subtitle strong {
  color: #928c8c;
  font-weight: 600;
}

strong {
  font-family: Kaushan Script, cursive;
  font-weight: 700;
}

.taglist {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.taglist li {
  padding: 0 0.2em 0.2em 0;
  margin-bottom: 0.5em;
  margin-top: 0;
}

label,
input {
  font-family: Kaushan Script, cursive;
  margin-left: 1.5em;
}

.menu-item {
  color: #ffffff;
}

.number {
  background-color: #000;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: 1em;
  right: 0.5em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.content blockquote {
  padding: 1.25em 1.5em;
}

.cover-container {
  position: relative;
}

.cover-container-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 50%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.section {
  padding: 1.8rem 1.5rem;
}

.content ul {
  list-style: none;
}

ul {
  list-style: none;
}

ul ul li:last-child {
  border: none;
}

.hidden {
  visibility: hidden;
}

.profile-pic {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.post-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
}

.meta-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  width: max-content;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 80vw;
  margin: 1em auto;
}

.round {
  border-radius: 50%;
  background: transparent;
  height: 46px;
  width: 46px;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 2em 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 15px 0;
}

.social-links > div {
  margin: 5px 15px;
}

.share-count {
  text-align: center;
}

.todo-list {
  padding: 2em;
  width: 600px;
}

.todo-settings-toggle {
  fill: #b7b9bd;
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.todo-create-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-create-input {
  font-size: 14px;
  padding: 11px 15px;
  min-width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 0px 2px rgba(120, 130, 152, 0.25);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.todo-create-input:hover,
.todo-create-input:active,
.todo-create-input:focus {
  box-shadow: 0px 0px 0px 2px #d64000;
}

.todo-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 43px;
  margin: 0 2em;
}

.todo-list-title {
  font-size: 17px;
  font-weight: 500;
  color: #f5f5f5;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  margin-left: 45px;
  width: 470px;
}

.todo-list-title:hover span[contenteditable="false"]:before {
  content: "click to edit";
  position: absolute;
  top: -6px;
  left: 11px;
  font-size: 11px;
  font-weight: 300;
  color: #adadad;
  letter-spacing: 1px;
}

.mobile-toggle {
  display: none;
}

.desktop-toggle {
  color: #fff;
  margin-left: 10px;
  margin-bottom: 3px;
}

@media (max-width: 500px) {
  .mobile-toggle {
    display: inline-flex;
  }

  .desktop-toggle {
    display: none;
  }

  .todo-list {
    padding: 1.2em;
    width: auto;
  }

  .todo-list h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    max-width: 95%;
  }

  .todo-list-title {
    /* Disable Auto Zoom in Input “Text” tag - Safari on iPhone */
    font-size: 16px;
    max-width: 80%;
    margin-left: 40px;
  }

  .todo-create-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5em;
  }

  .todo-create-input {
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    /* Disable Auto Zoom in Input “Text” tag - Safari on iPhone */
    font-size: 16px;
    margin-bottom: 1em;
    min-width: 85%;
  }

  .todo-item button {
    padding: 4px 12px;
    font-size: 14px;
    margin-bottom: 0px;
    min-width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.todo-list-title:hover span[contenteditable="false"]:before {
  content: "";
}

.todo-list-title:hover span[contenteditable="true"]:before {
  content: "click to edit";
  position: absolute;
  top: -20px;
  left: 9px;
  font-size: 11px;
  font-weight: 300;
  color: #adadad;
  letter-spacing: 1px;
}

.todo {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  padding-right: 5px;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 100%;
  margin: auto;
  fill: none;
  stroke: #d64000;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  z-index: 1;
}

.todo__state:checked ~ .todo-list-title {
  text-decoration: line-through;
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}

.todo__check {
  stroke: #d64000;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.25s;
}

.todo__state:checked ~ .todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  stroke: red;
}

.todo__state:checked ~ .todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0s;
}
.settings-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(46, 45, 45, 0.5);
  font-size: 13px;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.settings-content {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1.5em 3em 3em;
  background: #1d1d1d;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(14, 30, 37, 0.12);
  position: relative;
}
.settings-close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 16px;
  cursor: pointer;
}
.settings-content h2 {
  color: #dedede;
}
.settings-section {
  margin-top: 20px;
}
.settings-header {
  font-size: 16px;
  font-weight: 600;
}
.settings-options-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.settings-option {
  padding: 3px 8px;
  margin: 5px;
  border: 1px solid #1d1d1d;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.settings-option.activeClass,
.settings-option:hover {
  color: #fff;
}
@media (max-width: 38.4rem) {
  .settings-close {
    top: 15px;
    right: 20px;
    font-size: 18px;
  }
}
.tech-logos {
  width: 86px;
  height: 86px;
}

.neonText {
  font-family: "Sacramento", cursive;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #da1b60,
    0 0 82px #da1b60, 0 0 92px #da1b60, 0 0 102px #da1b60, 0 0 151px #da1b60;
}
@media screen and (prefers-reduced-motion) {
  H1Neon {
    animation: none;
  }
}
