.post-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
  width: 100vw;
  height: 400px;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
}
