.spring-wrapper {
  background: transparent;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  color: black;
  max-width: 800px;
  margin: 2em;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.react-spring-logo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.react-spring-logo .title {
  font-size: 75px;
  font-weight: 600;
  line-height: 65px;
  margin-top: 30px;
  text-align: center;
}

.react-spring-logo .link {
  margin-top: 35px;
  text-align: center;
}

.react-spring-logo .link a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 16px;

  display: inline-block;
  background: #ff6d6d;
  padding: 15px 40px;
  border-radius: 36px;
}

.react-spring-logo .link a:hover {
  background: #d05555;
}

.react-spring-logo .icon {
  width: 100%;
  max-width: 375px;
}
